<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu</title>
</head>
<body>
<style>
    form input[type=text], form label, form select{ display: block; }
</style>
<h1>Editing menu</h1>
    <form method="post" enctype="application/x-www-form-urlencoded" action="{{url_for('editMenuItem',restaurant_id=rest, menu_id=menu.id)}}">
        <label for="name_id">Menu Name</label> <input type="text" id="name_id" name="menu_name" placeholder="{{menu.name}}">
        <label for="price_id">Price</label> <input type="text" id="price_id" name="price" placeholder="{{menu.price}}">
        <label for="desc_id">Description</label> <textarea id="desc_id" name="desc" placeholder="{{menu.description}}"></textarea>
        <label for="course_id">Course</label>
        <select id="course_id" name="course">
            <option value="Entree">Entree</option>
            <option value="Appetizer">Appetizer</option>
            <option value="Dessert">Dessert</option>
            <option value="Beverage">Beverage</option>
        </select>
        <input type="submit" value="Edit"> <a href="{{url_for('getRestaurant',restaurant_id=rest)}}">Cancel</a>
    </form>
    <script>
        var course = document.querySelector('#course_id');
        var selected = course.querySelector('option[value="{{menu.course}}"]');
        selected.setAttribute("selected", "");
    </script>
</body>
</html>