header, #container, footer{
    margin: 10px calc((100% - 743px)/2) 0 calc((100% - 743px)/2);
    width: 743px;
    position: relative;
}

header{
    background-color: darkslategray;
    color: white;
    padding-bottom: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

body{
    background-color: black;
}

#container{
    margin-top: 1px;
    background-color: white;
    padding-bottom: 25px;
}

html, body, #container {
    min-height: 90vh;
}

#title{
    font-size: xx-large;
    text-decoration: none;
    position: relative;
    left: 10px;
}

#title:visited, #title:active{
    color: ghostwhite;
}

footer{
    margin-top: 1px;
    color: whitesmoke;
    height: 60px;
    background-color: slategray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

footer a, footer a:active, footer a:visited{
    text-decoration: none;
    color: whitesmoke;
}
.edit img, .delete img{
    width: 17px;
    height: 17px;
}
.edit, .delete{
    position: relative;
    right: 0;
}

.add{
    text-decoration: none;
    position: absolute;
    right: 40px;
}

.add img{
    width: 40px;
}

h1{
    margin-top: 0;
}

#restaurants{
    width: 100%;
}

#restaurants h1{
    text-align: center;
    position: relative;
    top: 15px;
}

#rests_list{
    list-style: none;
    font-size: x-large;
    width: 100%;
    padding-left: 5%;
    padding-right: 4%;
}

#rests_list a{
    text-decoration: none;
    color: dodgerblue;
}

.border-dashed{
    margin: 0 18.5% 0 18.5%;
    border: dashed 6px black;
    border-radius: 45px;
    width: 63%;
}

#rests_list tr{
    height: 45px;
}

#rests_list tr > td{
    width: 80%;
}

#rests_list tr td:not(:first-child){
    width: 5.5%;
}